
@media (max-width: 939px) {

    .container {
        width: 96%;
    }

    header h1 {
        text-align: center;
    }
    header h1 img {
        max-width: 50%;
    }
    .sacola {
        display: none;
    }
    .menu-setores {
        position: static;
        text-align: center;
    }

    .menu-setores ul{
        position: static;
    }

    .menu-setores ul li {
        display: inline-block;
        margin: 5px;
    }
    .busca, 
    .menu-departamentos, 
    .destaque img {
        margin-right: 0;
        width: 100%;
    }

    .painel {
        width: auto;
    }
    .painel li {
        width: 30%;
    }
    .painel img {
        width: 100%;
    }

    .pause, .play {
        top: auto;
        right: auto;

        left: 10px;
        bottom: 10px;
    }
}
@media (max-width: 380px) {
    footer {
        background-image: url(../img/fundo-rodape.png);
        clear: both;
        padding: 20px 0;
        padding-bottom: 50px;
    }

    footer img {
        margin-left: 25px;
        padding-bottom: 10px;
    }

    .social {
        position: initial;
        right: 25px;
        top: -5px;
    }
}

@media (min-width: 480px) {
    header h1 {
        margin: 5px 0;
    }
    .menu-departamentos {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .menu-departamentos nav > ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 720px) {

    header h1 { 
        text-align: left;
    }

    .menu-setores {
        position: absolute;
    }
    .sacola {
        display: block;
    }
    .painel li {
        width: 15%;
    }
    .busca, .menu-departamentos {
        margin-right: 1%;
        width: 30%;
    }
    .menu-departamentos nav > ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .destaque img {
        width: 69%;
    }
}